<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" [opened]="isSidenavOpen" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/post">Post</a>
      <a mat-list-item routerLink="/users">Users</a>
      <a mat-list-item routerLink="/settings">Settings</a>
    </mat-nav-list>
  </mat-sidenav>




  <mat-sidenav-content>
    <!-- Header -->
    <mat-toolbar class="spring-green">
      <button mat-icon-button (click)="drawer.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">Admin Dashboard</span>
    </mat-toolbar>

    <!-- Main Content -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <mat-toolbar color="primary" class="footer" fxLayoutAlign="center center">
      © 2025 Admin Dashboard
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
